<div class="clearfix mt-10">
</div>
<div class="right mt-10">
		<input id='cb_filter_following' type="checkbox" class="button"> Show only follower links
</div>
<div class="clearfix">
</div>

<%= render partial: "links/links" %>

<script>
  $().ready(function(){
    $("#cb_filter_following").click(function(){
      window.location.href = "filter_following";
    });
  });
</script>


<p style = "font-size: 10px; font-family: Times new roman"><%= link_to "test", lijiatest_path %></p>
