<head> This is the test page </head>

<p>
This is the test page.

<ul>
    <!-- <li><%= link_to "accounts", accounts_path %> -->
    <li><%= link_to "links_list", links_path %></li>
    <li><%= link_to "ratings_list", ratings_path %>
    <li><%= link_to "followships_list", followships_path %></li>
</ul>


</p>
