<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>
<br>
<br>
<br>
<input type="button" class="btn btn-default" value="Back to the link page" onclick = "window.location='/links/<%= @comment.link_id %>'">

<center><%= link_to 'Back to the Home page', links_path, :class => "btn btn-default", :style => "color: red" %></center>
