<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<center><%= link_to 'Back to the Home page', links_path, :class => "btn btn-default", :style => "color: red" %></center>
