<% if @links.count == 0 %>
<div class='well well-sm'>
  No links found!
</div>
<% else %>
  <% @links.each do |link| %>
      <%= render partial: "links/link", locals: {link: link, show_comment: true} %>
  <% end %> <!-- end of @links.each do |link|  -->
  <!-- Pages -->
  <% if @pages > 1 %>
    <% if @full_path.include? "?" %>
      <% delimiter="&" %>
    <% else %>
      <% delimiter="?" %>
    <% end %>
    <nav>
      <ul class="pagination">
        <% for i in 1..(@pages) do %>
          <li <% if i == @page %>class='active'<% end %>>
            <%= link_to i.to_s, @full_path + delimiter + "p=" + i.to_s %>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
  <!-- hard code stypes for links rating up/down buttons -->
  <style type="text/css">
  	form {
  		display: inline;
  	}
  </style>
<% end %>
