<span>
  <form class="inline" action="search">
  <input type="search" name="keyword" class="mt-10" placeholder="Search!" />
  <!-- <input type="button" class="button" value="Go!" /> -->
  <input type="submit" class="button" value="Go!" />
  </form>
</span>
