<h1>View Link Reports</h1>

<table>
  <thead>
    <tr>
      <th>Link title</th>
      <th>Reason</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <% if report.link_id %>
              <a href="<%= Link.find(report.link_id).url %>" target="_blank"><%= Link.find(report.link_id).title %></a>
          <% end %>
        </td>
        <td><%= report.reason %></td>
        <td><%= link_to 'Delete', report_path(report, :link_id => report.link_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
