<h1 class="heading">Read It Later!<h1>
<%= render partial: "links/searchbar" %>
<div class="right-nav">
	<input type="button" class="button" value="SIGN UP">
	<input type="button" class="button" value="LOGIN">
</div>
<div class="clearfix"></div>
